---
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { markdownify, toSentenceCase } from "@/lib/utils/textConverter";

import config from ".astro/config.generated.json" with { type: "json" };

const getNumber = (value: string) => {
  const base = 16;
  const updatedValue = value.replace("px", "").replace("rem", "");

  // Remove 'px' or 'rem' from string
  let valueAsNumber = Number(updatedValue);

  // Convert rem to px if needed
  if (value.includes("rem")) {
    return (valueAsNumber = Number(updatedValue) * base);
  }

  return valueAsNumber;
};

type Props = {
  src?: string;
  class?: string;
};

let { src, class: className } = Astro.props;

let {
  logo,
  logoWidth = "29px",
  logoHeight = "29px",
  logoText,
  title,
} = config.site;
---

<a
  href={getLocaleUrlCTM("/", Astro.currentLocale)}
  class:list={["logo-wrapper", className]}>
  {
    src || logo ? (
      <>
        <OptimizedImage
          src={src ? src : logo}
          class="logo"
          width={getNumber(logoWidth)}
          height={getNumber(logoHeight)}
          alt={toSentenceCase("Brand logo of " + title)}
          style={{
            height: getNumber(logoHeight) + "px",
            width: getNumber(logoWidth) + "px",
          }}
        />

        {logoText && (
          <span class="logo-text" set:html={markdownify(logoText)} />
        )}
      </>
    ) : logoText ? (
      logoText
    ) : (
      title
    )
  }
</a>
