---
import mapPreview from "@/assets/images/mappa.avif";
---

<section class="relative overflow-hidden">
  <div class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw]">
    <h2 class="office-map-title text-center"><b>Click the map</b> to see how to reach us</h2>
    <br><br>
    <a href="https://www.google.com/maps/dir/?api=1&destination=Paolucci+Infissi,+41.6986885,13.6196764">
      <div class="w-full h-64 sm:h-80 md:h-120 overflow-hidden rounded-2xl">
        <img
          src={mapPreview.src}
          alt="Map preview"
          class="w-full h-full object-cover object-center"
          loading="lazy"
          decoding="async"
        />
      </div>
    </a>
  </div>
</section>

<style>
  .office-map-title {
    color: #333333;
  }

  html[data-theme="dark"] .office-map-title {
    color: #ffffff;
  }
</style>
