/* prettier-ignore */
@theme inline {
  /* Configure font families in `src/config/fonts.json` */
  --leading-body: 1.8;
  --leading-inherit: inherit;

  /* Colors */
  --color-primary: #77B82D;
  --color-accent: #77B82D;
  --color-body: #fff;
  --color-border-light: #ECEEF1;
  --color-theme-light: #ffffff;
  --color-theme-dark: #333333;
  
  --color-text-default: #333333;
  --color-dark: #333333; /* Heading colors */
  --color-light: #fff6f6;

  /* Screen */
  --breakpoint-*: initial;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1320px;

  /* Typography */
  --text-base: 1rem;
  --text-base-scale: 1.22;
  --text-base-sm: calc(var(--text-base) * 0.9);

  --text-display-1: calc(var(--text-base) * pow(var(--text-base-scale), 7.2));
  --text-display-2: calc(var(--text-base) * pow(var(--text-base-scale), 6.2));
  --text-display-3: calc(var(--text-base) * pow(var(--text-base-scale), 5.2));

  --text-h1: calc(var(--text-base) * pow(var(--text-base-scale), 6));
  --text-h2: calc(var(--text-base) * pow(var(--text-base-scale), 5));
  --text-h3: calc(var(--text-base) * pow(var(--text-base-scale), 4));
  --text-h4: calc(var(--text-base) * pow(var(--text-base-scale), 3));
  --text-h5: calc(var(--text-base) * pow(var(--text-base-scale), 2));
  --text-h6: calc(var(--text-base) * pow(var(--text-base-scale), 1));

  --text-h1-sm: calc(var(--text-h1) * 0.7);
  --text-h2-sm: calc(var(--text-h2) * 0.7);
  --text-h3-sm: calc(var(--text-h3) * 0.7);
  --text-h4-sm: calc(var(--text-h4) * 0.9);
  --text-h5-sm: calc(var(--text-h5) * 0.9);
  --text-h6-sm: calc(var(--text-h6) * 0.9);


  /* Custom Shadow */
  --shadow-button: inset 0px 0px 8px 4px rgba(255,255,255,0.48);
}

:root {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --color-body: #262626;
  --color-border-light: #4a4a4a;
  --color-theme-light: #262626;
  --color-theme-dark: #2d2d2d;
  --color-text-default: #ffffff;
  --color-dark: #ffffff;
  --color-light: #ffffff;
  --shadow-button: inset 0px 0px 8px 4px rgba(255, 255, 255, 0.12);
}
