---
import { markdownify } from "@/lib/utils/textConverter";
import Icons from "@/helpers/Icons.astro";

type Card = {
  icon?: string;
  title?: string;
  value?: string;
  description?: string;
  appendValue?: string;
  prependValue?: string;
};

type Props = Card & {
  class?: any;
  content?: Card;
};

let {
  icon,
  title,
  value,
  content,
  description,
  appendValue,
  prependValue,
  class: className,
} = Astro.props;

const mergeObjects = (objOne: any, objTwo: any) => {
  const mergedObj = {} as any;
  for (const key of new Set([
    ...Object.keys(objOne || {}),
    ...Object.keys(objTwo || {}),
  ])) {
    const value1 = objOne && objOne[key];
    const value2 = objTwo && objTwo[key];
    if (value2) mergedObj[key] = value2;
    else if (value1) mergedObj[key] = value1;
  }
  return mergedObj;
};

let actualContent = mergeObjects(content, {
  icon,
  title,
  value,
  description,
  prependValue,
  appendValue,
}) as Card;
---

{
  (actualContent?.value || actualContent?.description) && (
    <div
      class:list={[
        "flex flex-col gap-4 rounded-xl border bg-white p-5 md:p-8",
        className,
      ]}>
      {actualContent?.icon && (
        <Icons
          class="text-text-default text-3xl"
          icon={actualContent.icon as keyof typeof Icons}
        />
      )}
      <div class="mt-2 space-y-3">
        {actualContent.value && (
          <Icons
            class="text-h4-sm md:text-h4"
            icon={actualContent.value as any}
          />
        )}
        {actualContent.title && (
          <h3 class="text-h5-sm md:text-h5" set:html={actualContent.title} />
        )}
        {actualContent?.description && (
          <p
            class="text-gray-700 opacity-80"
            set:html={markdownify(actualContent?.description)}
          />
        )}
      </div>
    </div>
  )
}
