---
import "aos/dist/aos.css";
import "@/styles/global.css";
import Head from "@/components/global/Head.astro";
import Footer from "@/components/global/Footer.astro";
import Header from "@/components/global/header/Header.astro";
import type { JSONLDProps } from "@/lib/utils/JsonLdGenerator";
import PageLoader from "./components/utilities/PageLoader.astro";
import GlobalScripts from "./components/widgets/GlobalScripts.astro";

import config from ".astro/config.generated.json" with { type: "json" };
import BreakpointIndicator from "./components/widgets/BreakpointIndicator.astro";

type Props = JSONLDProps & {
  className?: string;
  fitToScreen?: boolean;
  draft?: boolean;
  metaTitle?: string;
  metaDescription?: string;
  robots?: string;
  excludeFromSitemap?: boolean;
  customSlug?: string;
  canonical?: string;
  status?: number;
  keywords?: string[]; // Array of strings
  disableTagline?: boolean;
  structuredData?: Props;
  sectionSpacing?: "md" | "lg";
};

// destructure frontmatter
let { sectionSpacing = "lg", structuredData } = Astro.props;

// Section spacing class
const sectionSpacingClass =
  Astro.props.homepage
    ? null
    : sectionSpacing === "md"
      ? "has-section-spacing-md"
      : "has-section-spacing-lg";
---

<!doctype html>
<html lang={config.settings.multilingual.defaultLanguage || "en"}>
  <Head {...Astro.props} structuredData={structuredData} />
  <body>
    {!Astro.props.homepage && <PageLoader />}
    <Header {...Astro.props} />
    <main class:list={[sectionSpacingClass, Astro.props.class]}>
      <slot />
    </main>
    <Footer />

    <GlobalScripts />
    <BreakpointIndicator />

  </body>
</html>
